body {
    background-color: rgb(167, 204, 192);
}

h1{
    color: rgb(7, 77, 53);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3{
    color:rgb(25, 100, 73);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}