body {
    background-color: rgb(228, 241, 237);
}

h1{
    color: rgb(7, 77, 53);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3{
    color:rgb(25, 100, 73);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.Buttons{
    height: 100vh;
    display: flex;
    align-items: center;
    /* transform: translate(1%, 20%); */
    /* justify-content: center; */
    margin-top: 50px;
    flex-direction: column;

}

.arrow-up, .arrow-down, .arrow-right, .arrow-left{
    position: relative;
    background-color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.4s ease;
    margin-bottom: 10px;
}

.arrow-left{
    float: left;
    margin-right: 20px;
}

.arrow-right{
    float: right;
    margin-left: 20px; 
    /* transform: rotate(135deg);  */
}

.arrow-up:hover, .arrow-down:hover, .arrow-right:hover, .arrow-left:hover{
    background-color: rgb(99, 177, 155);
    color: white;
    box-shadow: 1px 0px 2px 2px rgba(25, 29, 28, 0.5);
}

.slidecontainer{
    width: 100%;
}

.slider{
    appearance: none;
    width: 100%;
    height: 20px;
    background:rgb(166, 209, 196)
}